.navbar {
  background-color: rgb(53, 76, 161);
}

.navbar>.nav>li>a {
  color: white;
}

#catalogCard {
  width: 20rem;
  padding: 2rem;
  text-align: center;
  float: right;
}

#first-row {
  width: 100%;
  display: inline;
}

.custom-select {
  width: 100%;
}

#scheduleDiv {
  float:left;
}

#addButton {
  display: inline;
  float: right;
}

#scheduleTitle {
  display: inline;
  margin: 3rem;
}
